{% extends 'base.html.twig' %}

{% block main_cont %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<h1>Мои видео</h1>
	{% for video in videos %}
		Название: {{ video.title }}<br>
		Категория: {{ video.category.title }}<br>
		Авторы:
		{% for vidauthor in video.getAuthors %}
			{{ vidauthor }}
		{% endfor %}<br>

		<iframe src="https://www.youtube.com/embed/{{ video.youtubeId }}"></iframe>
		<a href="{{ path('app_video_edit', {'id': video.id}) }}">Редактировать</a><br>
	{% endfor %}
	{% else %}
	<p>Вы не авторизованы</p>
	{% endif%}
{% endblock %}
